table {
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.mole {
    background-color: blue;
    border-radius: 50%;
}

.hit {
    background-color: green;
}

.miss {
    background-color: red;
}